@media (max-width: 766px){
    .logo{float: none; margin-bottom: 1rem;}
    .nav{float: none; clear: both; width: 100%;}
    .nav ul{text-align: center;}
    .footer h4{margin-top: 1rem; margin-bottom: 0;}

    .col-5{width: 100%;}
    .col-3{width: 100%;}
    .col-2{width: 100%;}  
}